body {
    margin: 0;
    padding: 0;
}

#dashboard {
    display: flex;
    background-color: black;
}

#dashboard-left
{   
    width:74%;
    height:90px;
    margin-top:30px;
}

#dashboard-right {
    width:30%;
    height:90px;
    padding-left:50px;
    margin-top:40px;
    margin-left:70px;

}

#a1 {
    font-size:23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    color:darkgoldenrod;
    padding-top:30px;
    display: inline-block;
}

#a1:hover {
    color:white;
}

#a {
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 3px 3px 10px chartreuse;
    margin-right:30px;
}


#a:hover {
    background-color:grey;
    color: black;
    transform: perspective(1000px) rotateX(180deg);
    opacity: 1;
    border: 3px solid black;
    border-radius: 50%;
}


#content
{
    display:flex;
}

#content-left
{
    width:75%;
    height:602;
    background-color: rgba(0, 0, 0, 0.762);
    color:darkgoldenrod;
}

#content-right
{
    width:35%;
    height:602px;
    background-color: rgb(13, 191, 102);
}

#content-head
{
    font-size:30px;
    margin-left:150px;
    margin-top:100px;
}

#content-head1
{
    font-size:70px;
    margin-left:150px;
    color:white;
}

#webdeveloper
{
    display:flex;
    width:30%;
    height:40px;
    margin-left:150px;
}

#webdeveloper-left
{
    width:70%;
    height:60px;
    border:3px solid rgb(13, 191, 102);
    color:white;
    text-align: center;
    margin-bottom:20px;
}

#webdeveloper-right
{
    width:30%;
    height:60px;
    background-color:rgb(13, 191, 102);
    border:3px solid rgb(13, 191, 102);
}


#webdeveloper-head
{
    font-size:25px;
    text-align: center;
}

#image
{
    padding-left:20px;
}

#webdeveloper-left:hover, #webdeveloper-right:hover
{
    background-color: aliceblue;
    border:3px solid rgb(13, 191, 102);
    color:black;
}



.image-container {
    position: absolute;
    right:12%; /* Adjust as needed */
    bottom: 0;
}

.profile-image {
    width: 500px; /* Adjust based on preference */
    height:500px;
    object-fit: cover; /* Ensure the image covers the container */
    /* Add shadow for depth */
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}



